<div class="fullscreen">
	<%= link_to('Logout', destroy_user_session_path, method: "delete") %>
	<h1>herro <%= @current_user.first_name %> <%= @current_user.last_name %></h1>
	<h2>Company: <%=@current_user.company %></h2>
</div>
