<%= render 'layouts/navbar' %>
<div class="row">
	<div class="col-sm-2 text-left" id="left-nav">
		<%= render 'layouts/left-nav' %>
	</div>
	<div class="col-sm-10 text-center heading">
		<h1><%= @team.name %> Backlog</h1>
	</div>
</div>