<div class="bg">
  <div class="center-div">
    <h1 id="main-page-header"><strong>nimble.</strong></h1>
    <p>scrum made simple</p>
    <%= link_to 'sign in', new_user_session_path %>  |  <%= link_to 'sign up', new_user_registration_path %>
  </div>
</div>