/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$primary:       grey;
$secondary:     #37474f;
$success:       #28b62c;
$info:          #03a9f4;
$warning:       #fbe42c;
$danger:        #ff4136;
$light:         #eeeeee;
$dark:          #444444;

@import "bootswatch/materia/variables";
@import "bootstrap";
@import "bootswatch/materia/bootswatch";

.margin15 {
	margin: 15px;
}
/* Forces padding to 0 since Chrome automatically puts 15px left and right */
.container-fluid {
	padding: 0;
}
.row {
	margin: 0;
}
.nav h1, h5 {
	color: #000000;
}
.navbar {
	box-shadow: none;
}
.navbar h6 {
	color: #FFFFFF;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 10px;
}
.heading {
	font-size: 4em;
	font-weight: bold;
	margin-top: 50px;
}
#left-nav {
	background-color: #333333;
	height: 100vh;
}
#left-nav-tree {
	padding-top: 70px;
}
#menu-links {
	margin-top: 100px;
}
#menu-links a {
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
#menu-links a:hover {
	color: #000000;
}
