// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#left-nav {
	background-color: #ffa382;
	height: 100vh;
}
#left-nav-tree {
	padding-top: 70px;
	padding-left: 20px;
}
#left-nav-tree a {
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	color: #FFFFFF;
}
#left-nav-tree a:hover {
	color: #000000;
}